<%- include('includes/head.ejs') %>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/main.css" >
</head>

    <body>
    <%- include('includes/navigation.ejs') %>
        
        <div class="todo-container">
                    <h2>To-Do List</h2>
                    <div class="todo">
                        <form action="/add" method="POST" class="todo-header">
                        
                            <input type="text" name="content">
                           
                            <button type="submit">+</button>
                        </form>
                        <ul class="todo-list">
                            <% todo.forEach(details => { %>
                            <li class="todo-list-item">
                            <div class="todo-list-item-name"><%= details.todo %></div>
                            <a href="/edit/<%= details._id %>" class="edit">
                                <button type="submit">Edit</button>
                            </a>
                            <a href="/remove/<%= details._id %>" class="remove">
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                <button type="submit">Delete</button>
                            </a>
                            </li>
                            <% }) %>
                            </ul>
                          
                        
                    </div>
                </div>
                <section class="pagination">
                    <% if (currentPage !== 1 && previousPage !== 1) { %>
                        <a href="?page=1">1</a>
                    <% } %>
                    <% if (hasPreviousPage) { %>
                        <a href="?page=<%= previousPage %>"><%= previousPage %></a>
                    <% } %>
                    <a href="?page=<%= currentPage %>" class="active"><%= currentPage %></a>
                    <% if (hasNextPage) { %>
                        <a href="?page=<%= nextPage %>"><%= nextPage %></a>
                    <% } %>
                    <% if (lastPage !== currentPage && nextPage !== lastPage) { %>
                        <a href="?page=<%= lastPage %>"><%= lastPage %></a>
                    <% } %>
                </section>

            </body>


            <%- include('includes/end.ejs') %>